@font-face {
  font-family: "proximanova";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/proximanova-reg/proximanova-reg.eot');
  src: url('../fonts/proximanova-reg/proximanova-reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-reg/proximanova-reg.woff') format('woff'),
  url('../fonts/proximanova-reg/proximanova-reg.ttf') format('truetype');
}
@font-face {
  font-family: "proximanova";
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/proximanova-light/proximanova-light.eot');
  src: url('../fonts/proximanova-light/proximanova-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-light/proximanova-light.woff') format('woff'),
  url('../fonts/proximanova-light/proximanova-light.ttf') format('truetype');
}
@font-face {
  font-family: "proximanova";
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/proximanova-bold/proximanova-bold-0.eot');
  src: url('../fonts/proximanova-bold/proximanova-bold-0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-bold/proximanova-bold-0.woff') format('woff'),
  url('../fonts/proximanova-bold/proximanova-bold-0.ttf') format('truetype');
}
@font-face {
  font-family: "proximanova";
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/proximanova-black/proximanova-black.eot');
  src: url('../fonts/proximanova-black/proximanova-black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-black/proximanova-black.woff') format('woff'),
  url('../fonts/proximanova-black/proximanova-black.ttf') format('truetype');
}
@font-face {
  font-family: "proximanova";
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/proximanova-extrabold/proximanova-extrabold.eot');
  src: url('../fonts/proximanova-extrabold/proximanova-extrabold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-extrabold/proximanova-extrabold.woff') format('woff'),
  url('../fonts/proximanova-extrabold/proximanova-extrabold.ttf') format('truetype');
}
@font-face {
  font-family: "playfairdisplay-regular";
  font-style: normal;
  src: url('../fonts/playfairdisplay-regular/playfairdisplay-regular.eot');
  src: url('../fonts/playfairdisplay-regular/playfairdisplay-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-regular/playfairdisplay-regular.woff') format('woff'),
    url('../fonts/playfairdisplay-regular/playfairdisplay-regular.ttf') format('truetype');
}
@font-face {
  font-family: "playfairdisplay-bold";
  font-style: normal;
  src: url('../fonts/playfairdisplay-bold/playfairdisplay-bold.eot');
  src: url('../fonts/playfairdisplay-bold/playfairdisplay-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-bold/playfairdisplay-bold.woff') format('woff'),
    url('../fonts/playfairdisplay-bold/playfairdisplay-bold.ttf') format('truetype');
}
@font-face {
  font-family: "playfairdisplay-italic";
  font-style: normal;
  src: url('../fonts/playfairdisplay-italic/playfairdisplay-italic.eot');
  src: url('../fonts/playfairdisplay-italic/playfairdisplay-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-italic/playfairdisplay-italic.woff') format('woff'),
    url('../fonts/playfairdisplay-italic/playfairdisplay-italic.ttf') format('truetype');
}
@font-face {
  font-family: "playfairdisplay-blackitalic";
  font-style: normal;
  src: url('../fonts/playfairdisplay-blackitalic/playfairdisplay-blackitalic.eot');
  src: url('../fonts/playfairdisplay-blackitalic/playfairdisplay-blackitalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-blackitalic/playfairdisplay-blackitalic.woff') format('woff'),
    url('../fonts/playfairdisplay-blackitalic/playfairdisplay-blackitalic.ttf') format('truetype');
}