.soc_svg{
	width: 34px;
	height: 34px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	background-color: rgb(60, 8, 60);
	border-radius: 50%;
	border: 1px solid rgb(60, 8, 60);
	@include transition(0.3s);
	svg{
		width: 16px;
		height: 16px;
		display: block;
		margin: 0 auto;
		*{
			fill: #fff;
			@include transition(0.3s);
		}
	}
	&:hover, &:focus{
		background-color: transparent;
		svg{
			*{
				fill: rgb(60, 8, 60);
			}
		}
	}
}
.soc-block{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	a{
		margin: 10px 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}
}